.container {
  text-align: center;
}

.wellcome {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  display: inline;
}

.out {
  padding: 2rem;
  margin-top: 5rem;
}

.container button {
  padding: 10px;
  border-radius: 5px;
  background-color: grey;
  color: white;
}

.container h2 {
  margin-top: 2rem;
  display: inline-block;
}
